body{
	font-family: 'Lato', sans-serif;
}

h1{
	text-align:center;
	color:#cc0000;
}

h2 {
text-align:center
}

input[type=text],input[type=email],select{
	width:100%;
	padding: 10px 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

textarea{
	width:100%;
	padding: 10px 0;
	margin-top: 10px;
	height:100px;
}

#barra{
color: #ffffff;
font-size:20px;	
}

#noticia{
color: #000000;	
}
